/* 
Light blue #74b9ff
Dark blue #0984e3
Light red #ff7675
Dark red #d63031 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.main {
    background-color: #f00;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 105vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)),
        url(/assets/freestocks-org-Gqc1jl2kd1U-unsplash.jpg);
        /* rgba(116, 186, 255, 0.8),
        rgba(9, 133, 227, 0.8)), */
        /* Photo by freestocks.org on Unsplash */
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    padding-top: 20px;
}

.logo-box {
    position: absolute;
    top: 50px;
    left: 50px;
}

.logo {
    height: 130px;
}

.title {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #f00;
    font-weight: 400;
}

.title-main {
    font-size: 50px;
    display: block;
}

.title-bottom {
    font-size: 20px;
    display: block;
}

.header img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}